@font-face {
	font-family: 'Outfit';
	src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
		format('truetype');
	font-weight: 400 600 700; /* 100 1000 */
}

@font-face {
	font-family: 'Young Serif';
	src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

:root {
	--max-width: 23.4375rem; 
	/* 375px */
	/* --max-width: clamp(20rem, 10.545rem + 47.273vw, 46rem);  */
	/* 320px to 736px */

	--bg-color-primary: #fff;
	--bg-color-secondary: #fff5fa;
	--body-bg-color: #f3e6d8;

	--subtitle-color-primary: #854632;
	--subtitle-color-secondary: #7b284f;
	--title-color: #302d2c;
	--text-color: #5f564d;

	--border-color: #e4ded8;

	--fs-body: 1rem; /* 16px */
	--fs-subtitle-secondary: 1.25rem; /* 20px */
	--fs-subtitle-primary: 1.75rem; /* 28px */
	--fs-title: 2.25rem; /* 36px */

	--ff-body: 'Outfit', sans-serif;
	--ff-heading: 'Young Serif', serif;

	--fw-regular: 400;
	--fw-semibold: 600;
	--fw-bold: 700;

	--space-2xs: 0.25rem; /* 4px */
	--space-xs: 0.5rem; /* 8px */
	--space-sm: 0.75rem; /* 12px */
	--space-md: 1rem; /* 16px */
	--space-lg: 1.125rem; /* 18px */
	--space-xl: 1.25rem; /* 20px */
	--space-2xl: 1.5rem; /* 24px */
	--space-3xl: 1.75rem; /* 28px */
	--space-4xl: 2rem; /* 32px */
	--space-5xl: 2.5rem; /* 40px */
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}



img {
	display: block;
	max-width: 100%;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ul,
ol {
	list-style: none;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--ff-body);
	font-weight: var(--fw-regular);
	font-size: var(--fs-body);
	color: var(--text-color);
}

.recipe {
	max-width: var(--max-width);
}

.container {
	padding: var(--space-5xl) var(--space-4xl);
}

.recipe__title {
	font-family: var(--ff-heading);
	font-weight: var(--fw-regular);
	font-size: var(--fs-title);
	line-height: 1;
}

.recipe__intro {
	margin-block-start: var(--space-2xl);
	margin-block-end: var(--space-4xl);
}

.time {
	padding: var(--space-2xl);
	background-color: var(--bg-color-secondary);
	border-radius: 12px;
}

.time__caption {
	font-size: var(--fs-subtitle-secondary);
	font-weight: var(--fw-semibold);
	color: var(--subtitle-color-secondary);
	line-height: 1;
	margin-block-end: var(--space-md);
	
}

.time__list,
.ingredients__list,
.instructions__list {
	padding-inline-start: var(--space-xs);
}

.time__item,
.ingredients__item {
	display: flex;
	align-items: center;
}

.time__item:not(:last-child),
.ingredients__item:not(:last-child),
.instructions__item:not(:last-child) {
	margin-block-end: var(--space-xs);
}

.time__item::before,
.ingredients__item::before  {
	content: '';
	width: var(--space-2xs);
	height: var(--space-2xs);
	border-radius: 50%;
	background: var(--subtitle-color-secondary);
	margin-inline-end: var(--space-3xl);
}

.ingredients,
.instructions {
	padding-block: var(--space-4xl);
	border-bottom: 0px solid var(--border-color);
}

.ingredients__subtitle,
.instructions__subtitle,
.nutrition__subtitle {
	font-family: var(--ff-heading);
	font-weight: var(--fw-regular);
	font-size: var(--fs-subtitle-primary);
	color: var(--subtitle-color-secondary);
	line-height: 1;
	margin-block-end: var(--space-2xl);
}


.instructions__item {
	display: flex;
	counter-increment: step-counter;
}


.instructions__item::before {
	content: counter(step-counter) '.';
	color: var(--subtitle-color-secondary);
	font-weight: var(--fw-bold);
	margin-inline-end: var(--space-lg);
}

.instructions__item:first-of-type::before {
	margin-inline-end: var(--space-xl);
}


.nutrition {
	padding-block-start: var(--space-4xl);
}

.nutrition__intro {
	margin-block-end: var(--space-2xl);
	padding-inline-end: var(--space-xs);
}



.nutrition__table {
	border-collapse: collapse;
	width: 100%;
}

.nutrition__table tr:not(:last-child) {
	border-bottom: 0px solid var(--border-color);
}

.nutrition__table th,
.nutrition__table td {
	padding-block: var(--space-sm);
	text-align: left;
}

.nutrition__table th {
	padding-inline-start: var(--space-4xl);
	font-weight: var(--fw-regular);
}

.nutrition__table td {
	padding-inline-end: var(--space-4xl);
	padding-inline-start: var(--space-md);
	font-weight: var(--fw-bold);
	color: var(--subtitle-color-secondary);
}

.nutrition__table--first-row th:first-of-type,
.nutrition__table--first-row td:first-of-type {
	padding-block-start: 0;
}

.nutrition__table--last-row th:first-of-type,
.nutrition__table--last-row td:first-of-type {
	padding-block-end: 0;
}

@media (min-width: 62.5rem) {
	:root {
		--max-width: 46rem; /* 736px */
		--fs-title: 40px;
		--space-xl: 22px;
	}	

	body {
		background-color: var(--body-bg-color);
	}

	.recipe {
		background-color: var(--bg-color-primary);
		border-radius: 24px;
		padding: 40px;
	}

	.container {
		padding: 40px 0 0;
	}

	.recipe__image {
		border-radius: 12px;
	}

	.time {
		padding: var(--space-3xl);
	}

	.nutrition__table td {
	
	padding-inline-start: 0;
	
	
}
}


