@font-face {
	font-family: 'Outfit';
	src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf)
		format('truetype');
	font-weight: 400 600 700; /* 100 1000 */
}

@font-face {
	font-family: 'Young Serif';
	src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

:root {
	--max-width: 23.4375rem; /* 375px */
	--img-height: 4.5rem; /* 72px */
    --spacer-5: 0.25rem; /* 4px */
	--spacer-xs: 0.5rem; /* 8px */
    --spacer-4: 0.75rem; /* 12px */
    --spacer-2: 1rem; /* 16px */
    --spacer-7: 1.2rem; 
    --spacer-1: 1.25rem; /* 20px */
    --spacer-3: 1.375rem; /* 22px */
	--spacer-sm: 1.5rem; /* 24px */
    --spacer-6: 1.8125rem; /* 29px */
	--spacer-md: 1.875rem; /* 30px need it*/
	--spacer-lg: 2.5rem; /* 40px */
	--spacer-xlg: 2.8125rem; /* 45px */
	--spacer-big: 4.375rem; /* 70px */
	--bg-color-primary: #fff;
	--bg-color-secondary: #fff5fa;
	--body-bg-color: #f3e6d8;
	--subtitle-color-primary: #854632;
	--subtitle-color-secondary: #7b284f;
	--title-color: #302d2c;
	--list-item-heading-color: #5f574e;
	--border-color: #e4ded8;
	--fs-body: 1rem; /* 16px */
	--fs-title: 2.25rem; /* 36px */
	--ff-body: 'Outfit', sans-serif;
	--ff-heading: 'Young Serif', serif;
	--fw-regular: 400;
	--fw-semibold: 600;
	--fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/

/*
  5. Improve media defaults
*/
img {
	display: block;
	max-width: 100%;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ul,
ol {
    list-style: none;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--ff-body);
}

.recipe-page {
	max-width: var(--max-width);
	border: 1px solid #f01dc2;
	
}

.container {
	padding-inline: 1.875rem;
}



.header__title {
	font-family: var(--ff-heading);
	font-weight: var(--fw-regular);
	font-size: var(--fs-title);
	line-height: 1;
	margin-block-start: 2.5rem;
}

.recipe__description {
	margin-block-start: 1.5rem;
}

.time {

	border: 1px solid #2ad54c;
	padding: 16px 1.5rem;
	margin-block-start: 2rem;
}

.time__caption {
	font-size: 1.25rem; /* 20px */
	font-weight: var(--fw-semibold);
	margin-block-end: 12px;
    color: var(--subtitle-color-secondary);
}

.time__list {
	padding-inline-start: 8px;
}

.time__item {
	display: flex;
    align-items: center;
	margin-block-end: 0.5rem;
    
}







.time__item::before {
	content: '';
	width: 0.25rem;
	height: 0.25rem;
	border-radius: 50%;
	background: var(--subtitle-color-secondary);
	margin-right: 28px;
	
}

.ingredients {
	padding-block-start: 26px;
	padding-block-end: 24px;
	border-bottom: 1px solid var(--border-color);
}

.ingredients__title,
.instructions__title,
.nutrition__title {
	font-family: var(--ff-heading);
	font-weight: var(--fw-regular);
	font-size: 28px;
	color: var(--subtitle-color-secondary);
	
}

.ingredients__title {
	margin-block-end: 16px;
}

.ingredients__list {
	padding-inline-start: 8px;
}

.ingredients__item {
	display: flex;
    align-items: center;
	margin-block-end: 0.5rem;
    
}

.ingredients__item::before {
	content: '';
	width: 0.25rem;
	height: 0.25rem;
	border-radius: 50%;
	background: var(--subtitle-color-secondary);
	margin-right: 30px;
	
}

.instructions {
	padding-block-start: 24px;
	padding-block-end: 24px;
	border-bottom: 1px solid var(--border-color);
}

.instructions__title {
	margin-block-end: 16px;
}

.instructions__list {
	padding-inline-start: 8px;
}

.instructions__item {
	display: flex;
	margin-block-end: 8px;
	counter-increment: step-counter;
}

.instructions__item::before {
	content: counter(step-counter)".";
	color: var(--subtitle-color-secondary);
	font-weight: var(--fw-bold);
	margin-right: 20px;
	
}

#increase-marg::before {
	margin-right: 22px;
}




